# The following files are ignored by Git
*.[oa]
*~
*.exe
*.log
*.pyc
*.so
.cproject
.project
.sconsign.dblite
.sconf_temp
\#*#
core
tests/test_fluent
Makefile
src/makefile
lnamd64/2ddp_node/makefile
lnamd64/2ddp_host/makefile
lnamd64/2ddp_node/makelog
lnamd64/2ddp_host/makelog
*.sh
